.divItemDetail {
    border: 1px solid darkgoldenrod;
    border-radius: 10px;
    color: white;    
    margin: 5rem auto 2rem;
    padding-bottom: 1rem;
    width: 30rem;
}

.divItemDetailFooter {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto 2rem;
    padding-bottom: 1rem;
    width: 30rem;
}

.divItemDetail h4 {
    margin: 0.5rem auto;
    width: 27rem;
}

.imgItemDetail {
    height: 25rem;
    width: 25rem;
}

.divItemDetailFooter .linkItemDetail {
    background-color: darkgoldenrod;
    border-radius: 15px;
    color: black;
    display: block;
    margin-left: 3.3rem;
    padding: 0.5rem 0;
    text-decoration: none;
    width: 10rem;
}