.App {
  text-align: center;
}

h1 {
  color: white;;
}

button {
  background-color: darkgoldenrod;
  border: none;
  color: black;
  cursor: pointer; 
  text-align: center;
  text-decoration: none;       
}